@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: #292a2d;
  color: #a9a9b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "VT323", monospace;
  font-size: min(80px, 13vw);
}

.tab {
  overflow: hidden;
  margin-top: -10px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

.tab button:hover {
  background-color: #a9a9b3;
}

.tab button.active {
  background-color: #a9a9b3;
  color: #000000;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-left: -10px;
}
.container {
  background: #1b1919;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100%;
  max-width: 300px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #525252;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(113, 113, 113, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}

input {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  padding: 9px 20px;
  background-color: #a9a9b3;
  box-sizing: border-box;
  border-radius: 5px;
}

input::placeholder {
  color: black;
}

.custom-file-input {
  position: relative;
  overflow: hidden;
  color: black;
  background-color: #a9a9b3;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-file-input::file-selector-button {
  background-color: transparent;
  border: 2px solid #525252;
  color: black;
  border-radius: 5px;
  padding: 6px 12px;
  margin-left: -5px;
  margin-right: 10px;
}

.custom-file-input::file-selector-button:active {
  transform: scale(0.95);
}

@media (max-width: 800px) {
  body {
    height: 100vh;
  }
}

footer {
  position: absolute;
  bottom: 10px;
}

a {
  color: #a9a9b3;
  text-decoration: none;
  font-family: "VT323", monospace;
}

a:visited {
  color: #a9a9b3;
  font-family: "VT323", monospace;
  text-decoration: none;
}
