<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Pixel</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>IMAGE STEGNOGRAPHY</h1>
    <section class="container">
      <div class="tab">
        <button
          class="tablinks"
          onclick="openType(event, 'Encode')"
          id="defaultOpen"
        >
          Encode
        </button>
        <button class="tablinks" onclick="openType(event, 'Decode')">
          Decode
        </button>
      </div>
      <div id="Encode" , class="tabcontent">
        <form id="encodeForm" enctype="multipart/form-data">
          <input
            class="custom-file-input"
            type="file"
            id="encodeImage"
            name="image"
            required
          />
          <input
            type="text"
            id="textToHide"
            name="text"
            placeholder="Enter text to hide"
            required
          />
          <button type="submit">Hide</button>
        </form>
      </div>
      <div id="Decode" , class="tabcontent">
        <form id="decodeForm" enctype="multipart/form-data">
          <input
            class="custom-file-input"
            type="file"
            id="decodeImage"
            name="image"
            required
          />
          <button type="submit">Reveal Text</button>
        </form>
      </div>
    </section>
    <div id="result"></div>

    <script src="/static/script.js"></script>
    <footer><a href="www.github.com/d34d-5h07">©Aashish Vinu</a></footer>
  </body>
</html>
